@font-face {
    font-family: Lavanderia;
    src: url('./fonts/Lavanderia.otf');
}

html, body {
    padding: 0;
    margin: 0;
    position: relative;
}

.header {
    background-color: rgba(255, 255, 255, 0.9);
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.first-layout {
    height: 834px;
    background-image: url("Img/Header_background.png");
}

.upper-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    opacity: 0.9;
    height: 60px;
    width: 800px;
}

.logo {
    color: #000000;
    font-size: 35px;
    font-weight: 400;
    display: flex;
    text-decoration: none;
    font-family: Lavanderia;
}

.logo-pink {
    color: #624b4d;
}

.nav-panel {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
}

.upp-menu-link {
    color: #454545;
    text-decoration: none;
    margin-left: 10px;
}

.upp-menu-btn {
    align-items: center;
    display: flex;
    background: red;
    color: #ffffff;
    padding: 10px 15px;
    margin-left: 15px;
    border: 0;
    border-radius: 4px;
}

.login-icon {
    margin-right: 10px;
}

