header {
  display: flex;
  width: 1280px;
  height: 834px;
  background-image: url("Img/Header_background.png");
  position: relative;
  justify-content: space-between;
}
.upper-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 1280px;
  height: 93px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.11);
  background-color: #ffffff;
  opacity: 0.9;
}
.logo p {
  width: 130px;
  height: 52px;
  color: #000000;
  font-family: Lavanderia;
  font-size: 41px;
  font-weight: 400;
  }
.upp_menu {
  width: 60%;
}
.upp_menu nav {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  float: left;
}
.upp_menu  nav li a {
  font-family: "Segoe UI";
  font-size: 17px;
  font-weight: 400;
  color: #454545;
  text-decoration: none;
  margin-left: 17px;
  margin-right: 17px;
}
.upp-menu-btn {
  width: 87px;
  height: 27px;
  background: url(icons/LoginBut.png);
  padding-right: 17px;
  padding-left: 29px;
  padding-bottom: 5px;
  margin-left: 60px;
}
.upp-menu-btn ul li a {
  color: #ffffff;
}
